/* RIGHT START*/

.right-section{
    width:400px;
    background-color: white;
    border-radius: 15px;
    padding :40px,0;
    box-shadow: 0 5px 6px rgba(0,0,0,0.219);
    margin-top: 200px;
  
  
  }
  
  .right-section h4{
    font-size: 20px;
    width:300px;
    margin: auto;
    margin-bottom: 30px;
    color:rgb(136,136,136);
    }
    .input-group{
      width:300px;
      margin:30px auto;
      display:flex;
      flex-direction: column;
      position: relative;/* for input label*/
    }
    .input-group label{
        color:rgb(165,165,165);
        font-size:14px;
        position: absolute;
        top: 10px;
        transition: 0.5s ease-in-out;
    }
    .input-group input{
      border:none;
      padding: 7px;
      margin-top: 5px;
      outline: none;
      color: #2098ca;
      caret-color:black;
      border-bottom: 1px solid #c9c9c98a;
    }
    .input-group input:focus~label{
      color:#2098ca;
      top: -10px;
      font-size: 12px;
     
    }
     .input-group input:focus~label,
  
     .input-group input:valid~label{
      color:#2098ca;
      top: -10px;
      font-size: 12px;
     
    }
    .input-group input:focus,
     
    .input-group input:valid{
     border-color:#2098ca;
       
   }
    .submit-section{
      text-align: center;
    }
  
  
   .submit-button{
    background-color: #2098ca;
    color: white;
    border:none;
    padding:  10px 0;
    margin-top: 15px;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 20px;
    cursor:pointer;
  }
  .submit-button:hover{
    box-shadow: 0 3px 6px silver
  }
    /* RIGHT END*/